@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: Space-Grotesk;
    src: url(../fonts/SpaceGrotesk-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    max-width: 1149px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
a{
    color: inherit;
    text-decoration: inherit;
}
img{
    max-width: 100%;
    max-height: 100%;
}
input, button{
    outline: none;
}
li{
    list-style: none;
}
/* .header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
.header.shrink{
    backdrop-filter: blur(10px);
} */
.subheader{
    background: #38CB89;
    width: 100%;
    height: 40px;
}
.subheader__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 40px;
    position: relative;
}
.subheader__link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.subheader__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: inherit;
    border-bottom: 1px solid #000;
    transition: .4s;
    font-family: Inter;
}
.subheader__btn:hover{
    cursor: pointer;
    opacity: 70%;
    transform: scale(1.03);
}
.subheader__btn:active{
    color: #fff;
}
.subheader__item span{
    font-weight: 600;
    font-family: Inter;
    line-height: 1.5;
} 
.union{
    position: absolute;
    right: 10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    /* position: sticky;
    top: 0;
    left: 0;
    z-index: 100; */
}
.navbar__link img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__collection{
    display: flex;
    gap: 40px;
}
.navbar__icons{
    display: flex;
    gap: 13px;
    transition: .4s;
}
.navbar__icons img:hover{
    transform: scale(1.2);
    opacity: 70%;
}
.navbar__item{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.navbar__item:hover{
    transform: scale(1.03);
    opacity: 70%;

}
.navbar__item span{
    font-family: Space-Grotesk;
}
.hero{
    background: url(../images/hero-bg.png) no-repeat center /cover;
    height: 820px;
}
.hero__wrapper{
    display: flex;
}
.hero__context{
    max-width: 500px;
    width: 100%;
    margin-top: 196px;
}
.hero__title{
    font-family: Poppins;
    font-weight: 500;
    font-size: 72px;
    line-height: 1.1;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 16.06%, #FFFFFF 86.9%, rgba(255, 255, 255, 0) 106.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 8px;
}
.hero__desc{
    color: #FEFEFE;
    font-family: Inter;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 28px;
}
.hero__btn{
    background: #38CB89;
    padding: 12px 56px;
    color: #141718;
    font-family: Inter;
    border-radius: 8px;
    border: 1px solid #38CB89;
}
.hero__btn:hover{
    opacity: 70%;
    transform: scale(1.03);
    cursor: pointer;
}
.hero__btn:active{
    background: #141718;
    color: #38CB89;
}
.categories__title{
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
    margin-top: 80px;
    margin-bottom: 48px;
}
.categories__wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.categories__desc{
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
}
.shop__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid blue;
    margin-bottom: 50px;
    gap: 12px;
}
.shop__title{
    margin: 50px 0;
    font-family: Poppins;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
}
.shop__card{
    border: 1px solid red;
    min-height: 319px;
    background: #F3F5F7;
    position: relative;
}
.shop__card:nth-child(1){
    grid-row: 1/3;
}
.shop__detail{
    font-family: Poppins;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 12px;
}
.shop__card-juniorbody{
    margin-left: 48px;
}
.shop__card-body{
    margin-left: 48px;
    position: absolute;
    bottom: 80px;
}
.shop__details{
    font-family: Poppins;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.1;
}
.shop__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: none;
    background: inherit;
}
.shop__btn:hover{
    opacity: 70%;
}
.shop__btn:active{
    transform: scale(1.04);
}
.articles__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
}
.articles__title{
    font-family: Poppins;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
}
.articles__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
    border: 1px solid #fff;
    border-bottom: 1px solid #141718;
    gap: 5px;
    transition: .4s;
    margin-bottom: 7px;
}
.articles__btn:hover{
    opacity: 70%;
    transform: scale(1.03);
}
.articles__btn:active{
    background: #ddd;
    color: #fff;
    padding: 7px;
    border-radius: 10px;
}
.articles__btn span{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}
.articles__wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.articles__card img{
    margin-bottom: 24px;
}
.articles__desc{
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 8px;
}
.join{
    background: url(../images/join-bg.png) no-repeat center /cover;
}
.join__wrapper{
    padding: 101px;
}
.join__title{
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 8px;
    color: #FEFEFE;
}
.join__desc{
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 32px;
    color: #FEFEFE;
}
.join__active{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}
.join__link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.join__btn-email{
    display: flex;
    align-items: center;
    justify-content: center;
    background: inherit;
    border: #141718;
    cursor: pointer;
}
.join__btn-email:hover{
    opacity: 70%;
    transform: scale(1.03);
}
.join__btn-email:active{
    background: #FEFEFE;
    border-radius: 10px;
}
.join__btn-email span:active{
    color: #000;
}
.join__email,
.join__btn{
    color: #FEFEFE;
    font-weight: 500;
    font-family: Inter;
    font-size: 16px;
    padding: 7px;
}
.join__btn{
    cursor: pointer;
    background: inherit;
    border: #141718;
}
.join__btn:hover{
    opacity: 70%;
    transform: scale(1.03);
}
.join__btn:active{
    background: #FEFEFE;
    border-radius: 10px;
    color: #141718;
}
.social__subtitle,
.social__title,
.social__desc{
    text-align: center;
}
.social__link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social__subtitle{
    margin-top: 40px;
    margin-bottom: 16px;
    text-transform: uppercase;
    color: rgb(108, 114, 117);
}
.social__title{
    color: #141718;
    font-family: Poppins;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 16px;
}
.social__desc{
    color: #141718;
    font-family: Inter;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 16px;
}
.social__link span{
    color: #6C7275;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    margin-bottom: 40px;
}
.social__wrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.social__wrapper:first-child{
    margin-bottom: 32px;
}
.footer{
    background: #000;
}
.footer__wrapper{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 32px;
    padding-top: 80px;
}
.footer__item{
    margin-top: 24px;
    transition: .4s;
}
.footer__item:hover{
    opacity: 70%;
    transform: scale(1.03);
}
.footer__item p{
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    color: #FEFEFE;
}
.footer__span{
    font-size: 18px;
    font-family: Poppins;
    font-weight: 500;
    color: #FEFEFE;
}
.footer__item span{
    font-family: Inter;
    color: #FEFEFE;
}
.footer__item svg{
    gap: 30px;
}
.footer__bottom{
  border-top: 1px solid #6C7275;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin-top: 60px;
}
.footer__bottom-item span{
    color: #6C7275;
    font-family: Inter;
    font-size: 12px;
    transition: .4s;
}
.footer__bottom-item:hover{
    transform: scale(1.02);
}
.footer__bottom-collection{
    display: flex;
    gap: 10px;
}